.container {
  width: 960px;
  margin: 0 auto;
}
.power-meter {
  z-index: 123;
  position: relative;
  width: 200px;
  border: 1px solid #000;
  overflow: hidden;
  height: 300px;
  cursor: default;
  margin: 0 auto;
  margin-top: 10px;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.12, #ED1C23),
    color-stop(0.36, #F2912A),
    color-stop(0.66, #F5DE31),
    color-stop(1, #41B64B)
  );
  background-image: -o-linear-gradient(bottom, #ED1C23 12%, #F2912A 36%, #F5DE31 66%, #41B64B 100%);
  background-image: -moz-linear-gradient(bottom, #ED1C23 12%, #F2912A 36%, #F5DE31 66%, #41B64B 100%);
  background-image: -webkit-linear-gradient(bottom, #ED1C23 12%, #F2912A 36%, #F5DE31 66%, #41B64B 100%);
  background-image: -ms-linear-gradient(bottom, #ED1C23 12%, #F2912A 36%, #F5DE31 66%, #41B64B 100%);
  background-image: linear-gradient(to bottom, #ED1C23 12%, #F2912A 36%, #F5DE31 66%, #41B64B 100%);
}

.cover {
  position: absolute;
  top: 0;
  height: 300px;
  width: 200px;
  background-color: #fff;
  z-index: 5;
}

body {
  text-align: center;
}

.button {
  font-family: "Arial", sans-serif;
  display: block;
  width: 202px;
  height: 40px;
  border: 0;
  cursor: pointer;
  line-height: 30px;
  font-size: 24px;
  margin: 0 auto;
  background-color: #ee3a3d;
  text-decoration: none;
  color: #fff;
  outline: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

@media all and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

.ui-page{background:transparent !important;} 
.ui-body-c{background:transparent !important;} 
.ui-page-active{background:transparent !important;