body {
  height: 1000px !important;
}

.fixed {
  position: fixed;
  width: 100%;
}

.container {
  position: relative;
  width: 200px;
  margin: 0 auto;
}

.container div {
  display: block !important;
  margin: 0 auto;
  margin-top: 50px;
}

.nav {
  display: block;
  background-color: #252525;
  height: 50px;
  width: 100%;
  overflow: hidden;
}

.hamburger {
  height: 16px;
  width: 16px;
  background: url('/images/hamburger-icon.png') no-repeat;
  display: block;
  border: none;
  cursor: pointer;
  outline: none;
  float: right;
  margin: 17px 15px 0 0;
}

.logo-container {
  height: 75px;
  width: 100%;
  background-color: #252525;
  display: block;
}

.logo-container img {
  display: block;
  margin: 0 auto;
  margin-top: -15px;
}

.button {
  position: absolute;
  border: none;
  background: url('images/shock-btn.png') no-repeat;
  top: 25px;
  left: 25px;
  width: 150px;
  height: 150px;
  cursor: pointer;
  outline: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
}

.button-clicked {
  background: url('images/shock_active-btn.png') no-repeat;
}

.dial {
  display: none;
}

.footer {
  height: 50px;
  width: 100%;
  /*background-color: purple;*/
}

.ui-page{background:transparent !important;} 
.ui-body-c{background:transparent !important;} 
.ui-page-active{background:transparent !important;